<!--
   Copyright 2022 Marek Hanus

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<head>
  <!-- Plotly.js -->
   <script src="../static/plotly.js"></script>
   <!-- JQuery.js -->	
   <script src="../static/jquery.js"></script>
</head>

<body>
    <label id="slozka">Vzorek č.1:</label> <label for="vzorek" id="vzorek">{{Vzorek1}}</label> <br>
    <label id="slozka">Vzorek č.2:</label><label id="vzorek2">{{Vzorek2}}</label> <br>
    <label id="slozka">Vzorek č.3:</label><label id="vzorek3">{{Vzorek3}}</label> <br>
  <div id="myDiv" style="width: 100%; height: 900px;"><!-- Plotly chart will be drawn inside this DIV --></div>
  <!--div id="myDiv2" style="width: 100%; height: 400px;"></div-->
  <!--div id="myDiv3" style="width: 100%; height: 400px;">></div-->
  <script>
  function makeplot() {
  //var directory = document.getElementById("slozka").innerHTML;
 
  
  var soubor = "../static/AnCiSeNa_fotky/AnCiSeNa_fotky.csv";
  Plotly.d3.csv(soubor, function(data){ processData(data) } );

};

function processData(allRows) {
  var x = [], y = [], y2 = [],y3 = [], y4 = [],y5 = [], y6 = [], ysec1 = [], standard_deviation = [];
  var ysec2 = [],ysec3 = [], items = []
  var ovocna = allRows[0]
  var file = "../static/AnCiSeNa_fotky/AnCiSeNa_fotky.csv";
  var rawFile = new XMLHttpRequest();
  rawFile.open("GET", file, false);
  rawFile.onreadystatechange = function()
  {
      var allText = rawFile.responseText;
      var rows = allText.split('\n');
      items = rows[0].split(',');
  }
  
  rawFile.send(null);
  for (var i=1; i<allRows.length; i++) {
    row = allRows[i];
    
    x.push( row['cas'] );
    y.push( row[items[1]] );
    y2.push(row[items[2]]);
    y3.push(row[items[5]]);
    y4.push(row[items[6]]);
    y5.push(row[items[9]] );
    y6.push(row[items[10]]);
    ysec1.push(row[items[3]]);
    ysec2.push(row[items[7]]);
    ysec3.push(row[items[11]]);
    
  }
  makePlotly(x, ysec1,ysec2,ysec3, standard_deviation );
  //makePlotly2(x, y3,y4,ysec2, standard_deviation );
  //makePlotly3(x, y5,y6,ysec3, standard_deviation );
}


/*
function makePlotly( x, y,y2,y3, standard_deviation ){
  var plotDiv = document.getElementById("plot");
  var traces = [
    {x: x, y: y, mode:"lines", name:"celkově"},
    {x: x, y:y2, mode:"lines", name:"sediment"}
  ];
  
  var traces2 = [
    {x: x, y: y3, mode:"lines", name:"procenta",name: 'yaxis2 data',
yaxis: 'y2',
  type: 'scatter'}
  ];
  var data = [traces, traces2];
  var layout = {
  title: 'Double Y Axis Example',
  yaxis: {title: 'yaxis title'},
  yaxis2: {
    title: 'yaxis2 title',
    titlefont: {color: 'rgb(148, 103, 189)'},
    tickfont: {color: 'rgb(148, 103, 189)'},
    overlaying: 'y',
    side: 'right'
  }
};
}
*/

      
function makePlotly(x, y,y2,y3, standard_deviation ){
    var vzorek = $("#vzorek").text();
    var vzorek2 = $("#vzorek2").text();
    var vzorek3 = $("#vzorek3").text();

    var trace1 = {x: x,y: y,name: vzorek,type: 'scatter'};
    var trace21 = {x: x,y: y2,name: vzorek2,type: 'scatter'}
    var trace2 = {x: x,y: y3, name: vzorek3, type: 'scatter'};

    var data = [trace1,trace21, trace2];
    var text = 'Graf sedimentace';
    var layout = {
      title: text,
      yaxis: {title: 'hodnoty v procentech',ticksuffix: ' %'},
      yaxis2: {
        title: 'hodnoty v procentech',
        ticksuffix: ' %',
        titlefont: {color: 'rgb(0, 0, 0)'},
        tickfont: {color: 'rgb(0, 0, 0)'},
        overlaying: 'y',
        side: 'right'
      }
    };

    Plotly.newPlot('myDiv', data, layout);
}



function makePlotly2( x, y,y2,y3, standard_deviation ){
    
    var trace1 = {x: x,y: y,name: 'celkově',type: 'scatter'};
    var trace21 = {x: x,y: y2,name: 'sediment',type: 'scatter'}
    var trace2 = {x: x,y: y3, name: 'procenta', yaxis: 'y2', type: 'scatter'};

    var data = [trace1,trace21, trace2];
    var vzorek = $("#vzorek2").text();
    var text = 'Graf vzorku '+vzorek;
    var layout = {
      title: text,
      yaxis: {title: 'hodnoty v pixelech', ticksuffix: ' px'},
      yaxis2: {
        title: 'hodnoty v procentech',
        ticksuffix: ' %',
        titlefont: {color: 'rgb(148, 103, 189)'},
        tickfont: {color: 'rgb(148, 103, 189)'},
        overlaying: 'y',
        side: 'right'
      }
    };

    Plotly.newPlot('myDiv2', data, layout);
}

function makePlotly3( x, y,y2,y3, standard_deviation ){
    var trace1 = {x: x,y: y,name: 'celkově',type: 'scatter'};
    var trace21 = {x: x,y: y2,name: 'sediment',type: 'scatter'}
    var trace2 = {x: x,y: y3, name: 'procenta', yaxis: 'y2', type: 'scatter'};

    var data = [trace1,trace21, trace2];
    var vzorek = $("#vzorek3").text();
    var text = 'Graf vzorku '+vzorek;
    var layout = {
      title: text,
      yaxis: {title: 'hodnoty v pixelech'},
      yaxis2: {
        title: 'hodnoty v procentech',
        ticksuffix: ' %',  
        titlefont: {color: 'rgb(148, 103, 189)'},
        tickfont: {color: 'rgb(148, 103, 189)'},
        overlaying: 'y',
        side: 'right'
      }
    };

    Plotly.newPlot('myDiv3', data, layout);
}

  makeplot();
  </script>
</body>

